[submodule "backend"]
	path = backend
	url = https://github.com/victormarques1/desafio-avmb-backend
[submodule "frontend"]
	path = frontend
	url = https://github.com/victormarques1/desafio-avmb-frontend
